$size: 15rem;
$size_for_mbl_device: 20rem;
body {
  min-height:110vh;
  max-height: 130%;
  padding: 5vh 0;
  text-align: center;
}
h2 {
  padding: 3rem 0;
  font-size: 4rem;
}
p {
  text-transform: capitalize;
}
a {
  color: white;
  text-decoration: none;
}
.work {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.project {
  width: $size;
  height: $size;
  margin: 1.5rem;
  overflow: hidden;
  color: white;
  position: relative;
  display: grid;
  place-items: center;
}
.project img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 0;
  transition: 1s;
}
.project:hover > img {
  transform: scale(1.5) rotate(15deg);
  transition: 1s;
}
.project p {
  position: absolute;
  font-weight: 700; //bold
  z-index: 2;
}

.project::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: -100%;
  transition: all 0.3s linear;
}
.project:hover::after {
  bottom: 0%;
  transition: all 0.3s linear;
}
//very small
@media screen and (max-width: 600px) {
  html {
    font-size: 120%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 110%;
  }
}
//medium
@media screen and (min-width: 768px) {
  html {
    font-size: 130%;
  }
}
//large
@media screen and (min-width: 993px) {
  html {
    font-size: 140%;
  }
}
//extra large
@media screen and (min-width: 1200px) {
  html {
    font-size: 150%;
  }
}
